* {
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.head {
  width: 90%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 100px;
}
.head img {
  width: 120px;
  height: 23px;
}
.sslki {
  width: 480px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sslki a {
  font-weight: 350;
  font-size: 18px;
  line-height: 140%;
  color: #72727e;
  text-decoration: none;
}
.get {
  width: 151px;
  height: 50px;
  border-radius: 6px;
  border: 1px solid #e9ecf5;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #446df6;
  background-color: #fff;
}
.poisk {
  width: 90%;
  height: 744px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  margin-bottom: 100px;
}
.text {
  width: 551px;
  height: 400px;
}
.text span {
  font-weight: 400;
  font-size: 40px;
  line-height: 125%;
  color: #141b41;
}
.text img {
  margin-left: 30px;
}
.text p {
  font-weight: 350;
  font-size: 24px;
  line-height: 140%;
  color: #72727e;
  margin: 20px 0px;
}
.text button {
  width: 213px;
  height: 60px;
  border-radius: 6px;
  background-color: #446df6;
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  color: #eeeeee;
  border: none;
}
.image {
  width: 729px;
  height: 744px;
  position: relative;
}
.image img:nth-child(1) {
  width: 700px;
  height: 574px;
  top: 100px;
  position: absolute;
  z-index: 1;
}
.image img:nth-child(2) {
  width: 700px;
  position: absolute;
  z-index: 0;
  top: 150px;
  right: 50px;
}
.start {
  width: 98%;
  height: 724px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 100px;
}
.karta {
  width: 674px;
  height: 715px;
  position: relative;
}
.karta img:nth-child(1) {
  position: absolute;
}
.karta img:nth-child(2) {
  width: 450px;
  height: 675px;
  top: 50px;
  left: 150px;
  position: absolute;
}
.fast {
  width: 528px;
  height: 724px;
}
.fast p {
  font-weight: 400;
  font-size: 40px;
  line-height: 125%;
  color: #141b41;
  margin-bottom: 50px;
}
.katalog {
  width: 520px;
  height: 64px;
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  justify-content: space-between;
}
.katalog svg {
  width: 32px;
  height: 32px;
  padding: 14px;
  color: #446df6;
  background-color: #f7f8fd;
  border-radius: 6px;
}
.about {
  width: 450px;
  height: 64px;
}
.about p:nth-child(1) {
  width: 450px;
  font-weight: 400;
  font-size: 24px;
  line-height: 135%;
  color: #141b41;
  margin-bottom: 5px;
}
.about p:nth-child(2) {
  width: 450px;
  font-weight: 350;
  font-size: 18px;
  line-height: 135%;
  color: #72727e;
  margin: 0;
}
.partnor {
  width: 90%;
  height: 500px;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
}
.partnor p:nth-child(1) {
  font-weight: 400;
  font-size: 40px;
  line-height: 125%;
  color: #141b41;
  margin-bottom: 20px;
  text-align: center;
}
.partnor p:nth-child(2) {
  font-weight: 350;
  font-size: 18px;
  line-height: 140%;
  color: #72727e;
  margin-bottom: 20px;
  text-align: center;
}
.kartochki {
  width: 80%;
  height: 200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.kartachka {
  width: 186px;
  height: 120px;
  padding: 40px 0px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 1px 1px 10px #bebfc8;
}
.kartachka svg {
  width: 24px;
  height: 24px;
  color: #446df6;
  padding: 16px;
  border-radius: 6px;
  margin-left: 65px;
  background-color: #f7f8fd;
}
.kartachka p {
  font-weight: 350;
  font-size: 16px;
  line-height: 140%;
  color: #141b41;
  text-align: center;
  margin: 0;
}
.partnor button {
  width: 213px;
  height: 60px;
  border-radius: 6px;
  background-color: #446df6;
  border: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  color: #eeeeee;
  margin-top: 75px;
  margin-left: 462px;
}
.time {
  width: 90%;
  height: 370px;
  border-radius: 20px;
  background-color: #446df6;
  margin: auto;
  margin-top: 150px;
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.want {
  width: 350px;
  height: 250px;
}
.want p:nth-child(1) {
  font-weight: 400;
  font-size: 40px;
  line-height: 114%;
  color: #f7f8fd;
  margin-bottom: 30px;
}
.want p:nth-child(2) {
  font-weight: 350;
  font-size: 18px;
  line-height: 140%;
  color: #e9ecf5;
  margin-bottom: 30px;
}
.app {
  margin-right: 10px;
}
.play {
  margin-left: 10px;
}
.telephon {
  width: 464px;
  height: 438px;
  margin-top: -70px;
  position: relative;
}
.telephon img:nth-child(1) {
  position: absolute;
  right: -20px;
}
.telephon img:nth-child(2) {
  position: absolute;
  right: 50px;
}
.otzivi {
  width: 90%;
  height: 345px;
  margin: auto;
  margin-bottom: 100px;
}
.otzivi p {
  font-weight: 400;
  font-size: 40px;
  line-height: 125%;
  color: #141b41;
  margin-bottom: 20px;
}
.otzivs {
  width: 100%;
  height: 100px;
  display: flex;
  padding-bottom: 40px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #f7f8fd;
}
.otzivs p {
  width: 631px;
  font-weight: 350;
  font-size: 18px;
  line-height: 140%;
  color: #72727e;
  margin: 0;
}
.arrows {
  width: 106px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.arrows svg:nth-child(1) {
  width: 17px;
  height: 17px;
  padding: 16px;
  border-radius: 50%;
  background-color: #f7f8fd;
}
.arrows svg:nth-child(2) {
  width: 17px;
  height: 17px;
  padding: 16px;
  color: #fff;
  border-radius: 50%;
  background-color: #446df6;
}
.person {
  width: 200px;
  height: 80px;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.name {
  width: 100px;
  height: 60px;
}
#one {
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  color: #141b41;
  margin-bottom: 5px;
}
#two {
  font-weight: 350;
  font-size: 18px;
  line-height: 140%;
  color: #72727e;
  margin: 0;
}
.end {
  width: 100%;
  height: 100px;
  background-color: #141b41;
  display: flex;
  align-items: center;
}
.endik {
  width: 90%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}
.sslka {
  width: 480px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sslka a {
  font-weight: 350;
  font-size: 18px;
  line-height: 140%;
  color: #e9ecf5;
  text-decoration: none;
}
.konec {
  width: 151px;
  height: 50px;
  border: 1px solid #72727e;
  border-radius: 6px;
  background-color: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #f7f8fd;
}
