* {
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.head {
  width: 90%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 100px;
}
.head img {
  width: 120px;
  height: 23px;
}
.sslki {
  width: 480px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sslki a {
  font-weight: 350;
  font-size: 18px;
  line-height: 140%;
  color: #72727e;
  text-decoration: none;
}
.get {
  width: 151px;
  height: 50px;
  border-radius: 6px;
  border: 1px solid #e9ecf5;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #446df6;
  background-color: #fff;
}
.poisk {
  width: 90%;
  height: 744px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  margin-bottom: 100px;
}
.text {
  width: 551px;
  height: 400px;
}
.text span {
  font-weight: 400;
  font-size: 40px;
  line-height: 125%;
  color: #141b41;
}
.text img {
  margin-left: 30px;
}
.text p {
  font-weight: 350;
  font-size: 24px;
  line-height: 140%;
  color: #72727e;
  margin: 20px 0px;
}
.text button {
  width: 213px;
  height: 60px;
  border-radius: 6px;
  background-color: #446df6;
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  color: #eeeeee;
  border: none;
}
.image {
  width: 729px;
  height: 744px;
  position: relative;
}
.image img:nth-child(1) {
  width: 700px;
  height: 574px;
  top: 100px;
  position: absolute;
  z-index: 1;
}
.image img:nth-child(2) {
  width: 700px;
  position: absolute;
  z-index: 0;
  top: 150px;
  right: 50px;
}
.start {
  width: 98%;
  height: 724px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 100px;
}
.karta {
  width: 674px;
  height: 715px;
  position: relative;
}
.karta img:nth-child(1) {
  position: absolute;
}
.karta img:nth-child(2) {
  width: 450px;
  height: 675px;
  top: 50px;
  left: 150px;
  position: absolute;
}
.fast {
  width: 528px;
  height: 724px;
}
.fast p {
  font-weight: 400;
  font-size: 40px;
  line-height: 125%;
  color: #141b41;
  margin-bottom: 50px;
}
.katalog {
  width: 520px;
  height: 64px;
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  justify-content: space-between;
}
.katalog svg {
  width: 32px;
  height: 32px;
  padding: 14px;
  color: #446df6;
  background-color: #f7f8fd;
  border-radius: 6px;
}
.about {
  width: 450px;
  height: 64px;
}
.about p:nth-child(1) {
  width: 450px;
  font-weight: 400;
  font-size: 24px;
  line-height: 135%;
  color: #141b41;
  margin-bottom: 5px;
}
.about p:nth-child(2) {
  width: 450px;
  font-weight: 350;
  font-size: 18px;
  line-height: 135%;
  color: #72727e;
  margin: 0;
}
